<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <title>Employee Portal</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white font-sans">
    <!-- Navbar -->
    <header class="bg-gray-800 shadow-lg">
        <nav class="container mx-auto flex justify-between items-center p-6">
            <!-- Brand -->
            <div class="text-yellow-600 text-2xl font-bold tracking-wide">
                MUTLULUK
            </div>
            <!-- Navigation Links -->
            <ul class="flex gap-8 text-yellow-400 text-lg">
                <li><a href="{% url 'index' %}" class="hover:text-yellow-600">Home</a></li>
                <li><a href="#menu" class="hover:text-yellow-600">Menu</a></li>
                <li><a href="#reservation" class="hover:text-yellow-600">Reservation</a></li>
                <li><a href="#contact" class="hover:text-yellow-600">Contact Us</a></li>
                <li><a href="#employee" class="hover:text-yellow-600">Employee Portal</a></li>
            </ul>
        </nav>
    </header>

    <!-- Hero Section -->
    <div class="bg-gradient-to-r from-grey-800 via-grey-700 to-grey-900 py-16 text-center">
        <h1 class="text-5xl font-extrabold text-yellow-500 tracking-light mb-4"">
            Employee Login Portal
        </h1>
    </div>

    <!-- Error Message -->
    {% if messages %}
        <div class="mb-4 text-red-600 text-center">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}

    <!--Login Form-->
    <form method="POST" class="space-y-4" action="/core/portal/">
        {% csrf_token %}
        <div>
            <label for="username" class="block text-sm font-medium text-grey-700">Username</label>
            <input type="text" name="username" id="username" required 
                   class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:ring-blue-500">
        </div>
        <div>
            <label for="password" class="block text-sm font-medium text-grey-700">Password</label>
            <input type="password" name="password" id="password" required 
                   class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:ring-blue-500">
        </div>
        <button type="submit" 
                class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition duration-200">
            Login
        </button>
    </form>
</body>
</html>